{% extends 'khoj/base.html'%} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static " css/home.css
  " %}">{% endblock %} {% block content %}

<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container text-center">
    <h1 class="display-2">SEERCH</h1>
    <p class="lead">Find What You Want</p>
    <hr class="my-4">
    <div class="py-4 mt-4"></div>
    <form action="search/" method="get">
      {% csrf_token %}
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" name='q' placeholder="Restaurants, Hospitals etc..">
        </div>

        <div class="col">
            <input type="text" class="form-control" name="lc" placeholder="Tokha">
        </div>

        <input class="btn btn-warning text-white" type="submit" value="SEARCH">
      </div>

    </form>

    <div class="py-4 mt-4"></div>
    <p>Hello World</p>
  </div>
</div>

{% endblock %}